<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

        <title>blueman</title>
    </head>
    <body>
        <div class="question">
            <div class="no">1</div>
            <h1>Are you parked?</h1>
            <p>On a <strong>single</strong> or <strong>double yellow line</strong>.</p>
        </div>

        <div class="answers">
            <a id="yes" href="#">Yes</a>
            <a id="no" href="#">No</a>
        </div>

        <script src="{{url_for('static', filename='jquery-2.1.4.min.js')}}"></script>
        <script src="{{url_for('static', filename='scripts.js')}}"></script>
    </body>
</html>
